.container{
  display: flex;
  
  
}

.list {
  display: flex;
  text-align: center;
}

.text {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .item {
    margin-bottom: 25px;
  }